doctype html
html(lang='en')
	head
		title=product.name
		meta(name="twitter:card", content="summary_large_image")
		meta(property="twitter:domain", content="portfolio.adophilus.xyz")
		meta(property="twitter:url", content=frontendBaseUrl + "/shop/products/" + product.slug)
		meta(name="twitter:title", content=product.name + " | Alive Store")
		meta(name="twitter:description", content="Product item")
		meta(name="twitter:image", content=pocketBaseURL + "/api/files/" + product['@expand'].cover['@collectionId'] + "/" + product['@expand'].cover.id + "/" + product['@expand'].cover.image)
		meta(property="twitter:image:width", content="1366")
		meta(property="twitter:image:height", content="695")
		meta(property="twitter:image:type", content="image/jpeg")
		meta(http-equiv="refresh", content="1; url='" + frontendBaseUrl + "/shop/products/" + product.slug + "'")