.cart__item .cart__item__options__btn {
  border: 0;
  background-color: inherit;
}

.cart__item .cart__item__desc .cart__item__name {
  text-decoration: none;
  color: inherit;
  transition-duration: 0.2s;
  transition-property: color;
}

.cart__item .cart__item__desc .cart__item__name:hover {
  color: #5605f8;
}

.cart__item .cart__item__desc .cart__item__size {
  font-weight: 700;
  font-size: 0.9em;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 3px;
  background: #111111;
  color: #ffffff;
  border-color: #111111;
  cursor: pointer;
  min-width: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  user-select: none;
}

.cart__item .cart__item__desc .cart__item__color {
  height: 0.9em;
  width: 0.9em;
  border-radius: 50%;
  border: 1px solid black;
  padding: 4px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart__item .cart__item__image {
  position: relative;
}

.cart__item .cart__item__image .close__btn {
  display: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  color: white;
  position: absolute;
  background-color: black;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
}

.cart__item .cart__item__quantity__btn {
  user-select: none;
  background-color: #efefef;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #5605f8;
  font-weight: bolder;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__checkout__section {
  color: white;
  background-color: #111111;
}

.cart__subtotal {
  letter-spacing: 4px;
}

.cart__subtotal .sub__total {
  font-weight: bolder;
  font-size: 1.1em;
}

.cart__subtotal .sub__total__amount {
  text-decoration: underline;
}

.cart__disclaimer {
  font-size: 0.8em;
}

.t__and__c {
  color: #5605f8;
  transition-duration: 0.2s;
}

.t__and__c:hover {
  color: #5605f8;
  text-decoration: underline;
}
