.shop-details .product__qty__btn {
  border-radius: 50%;
  transition-duration: 0.2s;
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  border: 1px solid black;
}

.product__hover .tab {
  cursor: pointer;
}

.product__hover .tab i {
  color: black;
}

.product__hover .tab:hover i {
  color: black;
}
